[submodule "sd-scripts"]
	path = sd-scripts
	url = https://gitee.com/vany810/sd-scripts.git
[submodule "frontend"]
	path = frontend
	url = https://gitee.com/vany810/lora-gui-dist
[submodule "mikazuki/dataset-tag-editor"]
	path = mikazuki/dataset-tag-editor
	url = https://gitee.com/vany810/dataset-tag-editor
